.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 50px 40px 146px;
}
.links > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.links > :global(.__wab_flex-container) > *,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.links > :global(.__wab_flex-container) > picture > img,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .links {
    width: 100%;
    min-width: 0;
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .links > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__y1Hjv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: flex-start;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__y1Hjv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__y1Hjv > :global(.__wab_flex-container) > *,
.freeBox__y1Hjv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y1Hjv > :global(.__wab_flex-container) > picture > img,
.freeBox__y1Hjv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y1Hjv > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y1Hjv > :global(.__wab_flex-container) > *,
  .freeBox__y1Hjv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__y1Hjv > :global(.__wab_flex-container) > picture > img,
  .freeBox__y1Hjv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__akoa5 {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-EhbuRp0UYZoF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__akoa5 {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: calc(0px + 8px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 8px) !important;
  }
}
.link__aexl {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__aexl:hover {
  color: #e76385;
}
.link__fLOuM {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__fLOuM:hover {
  color: #e76385;
}
.link___38Uva {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___38Uva:hover {
  color: #e76385;
}
.link___2624Y {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___2624Y:hover {
  color: #e76385;
}
.columns__whKf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 0px;
}
.columns__whKf > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__whKf > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__whKf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__whKf > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__h5PvI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__h5PvI {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__i5Htz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__i5Htz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__i5Htz > :global(.__wab_flex-container) > *,
.freeBox__i5Htz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i5Htz > :global(.__wab_flex-container) > picture > img,
.freeBox__i5Htz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i5Htz {
    width: auto;
    padding: 3px;
  }
}
.link__bhe1N {
  position: relative;
  align-self: flex-start;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.link__iNjHg {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-left: calc(0px + 30px) !important;
}
.instapng {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.instapng > picture > img {
  object-fit: cover;
}
.link__doJc4 {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 30px) !important;
}
.img__cjzZ0 {
  object-fit: contain;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.img__cjzZ0 > picture > img {
  object-fit: contain;
}
.link__qJgdu {
  position: relative;
  margin-right: 0px;
  display: flex;
  cursor: pointer;
  margin-left: calc(0px + 30px) !important;
}
.img___1F0Sz {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.img___1F0Sz > picture > img {
  object-fit: cover;
}
.column__sYzWb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sYzWb {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__esStr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__esStr {
    justify-content: flex-start;
    width: auto;
  }
}
.img__kuftx {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 32px;
  height: 32px;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__kuftx > picture > img {
  object-fit: contain;
}
.text__gzktx {
  position: relative;
  align-self: center;
  padding-left: 30px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1920px;
  background: #fafafa;
  min-width: 0;
  padding: 8px;
}
.columns__eceDu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1280px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 24px 40px;
}
.columns__eceDu > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__eceDu > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__eceDu > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eceDu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eceDu > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pgQ3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__enJp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  min-width: 0;
}
.column__znojM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___1IXoY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__nYaJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___6Iyf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 0px;
  min-width: 0;
}
