.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    border: 1px solid #222222;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.projectHeader:global(.__wab_instance) {
  position: relative;
}
.section___0Os0U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.section___0Os0U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section___0Os0U > :global(.__wab_flex-container) > *,
.section___0Os0U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section___0Os0U > :global(.__wab_flex-container) > picture > img,
.section___0Os0U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___0Os0U {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___0Os0U > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.img__rQ0Qo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 700px;
  min-width: 0;
  flex-shrink: 0;
}
.img__rQ0Qo > picture > img {
  object-fit: cover;
}
.section__p2Uig {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 120px 0px 0px;
}
.section__p2Uig > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section__p2Uig > :global(.__wab_flex-container) > *,
.section__p2Uig > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__p2Uig > :global(.__wab_flex-container) > picture > img,
.section__p2Uig
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__p2Uig {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__p2Uig > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__j3PyW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j3PyW {
    padding-left: 8px;
  }
}
.h3__yyw0L {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__yyw0L {
    font-size: 40px;
  }
}
.text__xRMbA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__hdzIu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hdzIu {
    padding-left: 8px;
  }
}
.h3__z6Oxw {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__z6Oxw {
    font-size: 40px;
  }
}
.text__a8Ud8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__geDe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__geDe {
    padding-left: 8px;
  }
}
.h3__k8Gk9 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__k8Gk9 {
    font-size: 40px;
  }
}
.text__m3WXs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__wst79 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 120px 0px;
}
.section__wst79 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section__wst79 > :global(.__wab_flex-container) > *,
.section__wst79 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__wst79 > :global(.__wab_flex-container) > picture > img,
.section__wst79
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__wst79 {
    padding-top: 150px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__wst79 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___1VqlR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1VqlR {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.img__n3OGt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__n3OGt > picture > img {
  object-fit: cover;
}
.columns__gA4M {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 60px 0px 0px;
}
.columns__gA4M > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
  --plsmc-rc-col-gap: 60px;
}
.columns__gA4M > :global(.__wab_flex-container) > *,
.columns__gA4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gA4M > :global(.__wab_flex-container) > picture > img,
.columns__gA4M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
.columns__gA4M > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__gA4M > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gA4M {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gA4M > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gA4M > :global(.__wab_flex-container) > *,
  .columns__gA4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__gA4M > :global(.__wab_flex-container) > picture > img,
  .columns__gA4M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gA4M > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7PrOl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.img__km6C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 600px;
  min-width: 0;
  flex-shrink: 0;
}
.img__km6C > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__km6C {
    height: 300px;
    flex-shrink: 0;
  }
}
.column__iRyrN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iRyrN {
    padding: 0px;
  }
}
.img__ppQ6Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 600px;
  min-width: 0;
  flex-shrink: 0;
}
.img__ppQ6Y > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ppQ6Y {
    height: 300px;
    flex-shrink: 0;
  }
}
.freeBox__edshI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__edshI {
    padding-left: 8px;
  }
}
.h3__jcM47 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__jcM47 {
    font-size: 40px;
  }
}
.text__m0POt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section__tfQub {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px 0px 120px;
}
.section__tfQub > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section__tfQub > :global(.__wab_flex-container) > *,
.section__tfQub > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__tfQub > :global(.__wab_flex-container) > picture > img,
.section__tfQub
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__tfQub {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__tfQub > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__mSmX0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mSmX0 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
  }
}
.img__aVs3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__aVs3 > picture > img {
  object-fit: cover;
}
.freeBox__kxm50 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 120px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kxm50 {
    padding-left: 8px;
  }
}
.h3___5MxNg {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 44px;
  align-self: flex-start;
  padding-bottom: 32px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3___5MxNg {
    font-size: 40px;
  }
}
.text__vngsx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-size: 24px;
  align-self: flex-start;
  min-width: 0;
}
.section___8L6R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 150px 0px;
}
.section___8L6R > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section___8L6R > :global(.__wab_flex-container) > *,
.section___8L6R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section___8L6R > :global(.__wab_flex-container) > picture > img,
.section___8L6R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___8L6R {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___8L6R > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__uyJWb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 933px;
  margin-bottom: 0px;
  font-size: 50px;
  align-self: flex-start;
  padding-bottom: 64px;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    font-size: 40px;
  }
}
.columns__rg5N {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__rg5N > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__rg5N > :global(.__wab_flex-container) > *,
.columns__rg5N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rg5N > :global(.__wab_flex-container) > picture > img,
.columns__rg5N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__rg5N > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__rg5N > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rg5N {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rg5N > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rg5N > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uZbwL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.projectCard__n305T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__eblOe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.projectCard__rscXy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 90px;
}
.contactSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
